<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  
  <body>
    <div id="background"></div>
    <img src="logo.jfif"/>
    <div class="main">
      <h1>AUTHENTIFICATION</h1>
      <% if (messages) { %>
      <p><%= messages.error %></p>
      <% } %>
      <form action="/register" method="POST">
        <input type="name" name="name" placeholder="Votre nom" />
        <input
          type="email"
          name="email"
          placeholder="hibiki@gmail.com"
        />
        <input type="password" name="password" placeholder="* * * * * *" />
        <button>Se connecter</button>
      </form>
    </div>
  </body>
</html>